<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>zdxq</display-name>
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
    <listener>
     <listener-class>
         org.springframework.web.context.ContextLoaderListener
     </listener-class>
 	</listener>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>

  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.control.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NeedSubmit</servlet-name>
    <servlet-class>com.control.NeedSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NeedSubmit</servlet-name>
    <url-pattern>/NeedSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.control.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManyCon</servlet-name>
    <servlet-class>com.control.ManyConServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManyCon</servlet-name>
    <url-pattern>/ManyCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePwd</servlet-name>
    <servlet-class>com.control.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePwd</servlet-name>
    <url-pattern>/UpdatePwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateNeed</servlet-name>
    <servlet-class>com.control.UpdateNeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNeed</servlet-name>
    <url-pattern>/UpdateNeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNeed</servlet-name>
    <servlet-class>com.control.DeleteNeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNeed</servlet-name>
    <url-pattern>/DeleteNeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserMana</servlet-name>
    <servlet-class>com.control.UserManaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMana</servlet-name>
    <url-pattern>/UserMana</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.control.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateLimit</servlet-name>
    <servlet-class>com.control.UpdateLimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLimit</servlet-name>
    <url-pattern>/UpdateLimit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LimitChanger</servlet-name>
    <servlet-class>com.control.LimitChangerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimitChanger</servlet-name>
    <url-pattern>/LimitChanger</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllLimit</servlet-name>
    <servlet-class>com.control.AllLimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllLimit</servlet-name>
    <url-pattern>/AllLimit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLimit</servlet-name>
    <servlet-class>com.control.AddLimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLimit</servlet-name>
    <url-pattern>/AddLimit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterUserLmit</servlet-name>
    <servlet-class>com.control.AlterUserLmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterUserLmit</servlet-name>
    <url-pattern>/AlterUserLmit</url-pattern>
  </servlet-mapping>
  <filter> 
  	<filter-name>filter</filter-name> 
  	<filter-class>com.util.Filter</filter-class> 
  </filter> 
  <filter-mapping> 
	<filter-name>filter</filter-name> 
  	<url-pattern>/*</url-pattern> 
  </filter-mapping>
    
</web-app>